{varType array $rows}
{varType App\Model\Utils\Paginator\Paginator $paginator}

{define statusBadge, string $label, string $color}
	<span n:if="$label !== ''" class="badge" n:attr="style: $color !== '' ? 'background-color:' . $color">{$label}</span>
{/define}

{define countryImage, string $image}
	<span class="header-avatar1">
		<img n:if="$image !== ''" src="{$basePath}/img/country/{$image}" alt="img" style="height:20px; width:auto;">
		<img n:if="$image === ''" src="{$basePath}/img/empty.jpg" alt="img" style="width:20px; height:20px">
	</span>
{/define}

{define babysitterImage, string $image}
	{if $image !== ''}
		<img src="{$basePath}/img/opatrovatelka/{$image}" alt="img" style="height:26px; width:auto;">
	{else}
		<img src="{$basePath}/img/empty.jpg" alt="img" style="width:26px; height:26px">
	{/if}
{/define}

<div n:if="$rows !== []" class="tableone">
	<div class="tableone-header">
		<h3 class="tableone-title">Zoznam opatrovateliek</h3>
	</div>
	<div class="table-responsive">
		<table class="table table-striped card-table table-vcenter text-nowrap">
			<thead>
				<tr class="thead">
					<th class="tcenter w90">Číslo</th>
					<th class="tcenter w50">Fotka</th>
					<th>Meno</th>
					<th class="tcenter w50">Vek</th>
					<th class="tcenter w50">Pohlavie</th>
					<th class="tcenter w90">Národnosť</th>
					<th class="tcenter">Agentúra</th>
					<th class="tcenter">Status</th>
					<th class="tcenter">Možnosti</th>
				</tr>
			</thead>
			<tbody>
				<tr n:foreach="$rows as $row">
					<td class="tcenter">{$row['clientNumber']}</td>
					<td class="tcenter">{include babysitterImage, $row['image']}</td>
					<td><a href="{plink :Admin:Babysitter:update, id: $row['id']}" class="titleLink">{$row['surname']} {$row['name']}</a></td>
					<td class="tcenter">{$row['age'] ?? '-'}</td>
					<td class="tcenter">{$row['pohlavieLabel']}</td>
					<td class="tcenter">{include countryImage, $row['countryImage']}</td>
					<td class="tcenter">{$row['agencyName']|truncate:20,''}</td>
					<td class="tcenter">{include statusBadge, $row['statusLabel'], $row['statusColor']}</td>
					<td class="tcenter"><a href="{plink :Admin:Babysitter:update, id: $row['id']}" class="btn btn-success btn-sm">Upraviť</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div n:if="$rows === []" class="tableone">
	<div class="tableone-header">
		<h3 class="tableone-title">Zoznam opatrovateliek</h3>
	</div>
	<div class="table-responsive">
		<table class="table table-striped card-table table-vcenter text-nowrap">
			<tbody>
				<tr>
					<td class="tcenter">Žiadne opatrovateľky.</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="space20"></div>
{include '../../../../templates/components/paginator.latte', paginator: $paginator}
