# Nette Framework
/log/*
!/log/.gitignore
/temp/*
!/temp/.gitignore

# Composer
/vendor/

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.iml

# OS
.DS_Store
Thumbs.db

# Local configuration
/config/local.neon

# Uploads
/www/uploads/
/www/documents/
/www/export/
/www/img/opatrovatelka/
/www/img/users/
/www/img/profil/
/www/img/
/www/assets/images/
/www/assets/iconfonts/
/www/assets/plugins/
/www/assets/switcher/
