{block content}

<div class="mb-3">
    <a href="{plink :Admin:Stats:default}" class="btn btn-sm btn-success">Štatistiky</a>
</div>


<div class="row">
    <div class="col-xl-8 col-sm-12">
        {control homepageTurnusList}
        <div class="space20"></div>
    </div>

    <div class="col-xl-4 col-md-12">
        {control unpaidInvoicesWidget}
        <div class="space20"></div>
    </div>
</div>
