{varType ?int $status}
{varType ?int $country}

{block pageTitle}Projekty{/block}

{block content}
	{* TODO: migrate legacy projekty list page. Active filters: status={$status}, country={$country}. *}
{/block}
