services:
	- App\Model\Utils\ArrayService\ArrayService
	- App\Model\Utils\Checkbox\CheckboxService
	- App\Model\Utils\Date\DateService
	- App\Model\Utils\Date\MonthService
	- App\Model\Utils\Date\QuarterService
	- App\Model\Utils\Date\YearService
	- App\Model\Utils\Dir\DirService
	- App\Model\Utils\File\FileService
	- App\Model\Utils\FindFiles\FindFilesService
	- App\Model\Utils\Float\FloatService
	- App\Model\Utils\Hash\HashService
	- App\Model\Utils\Image\ImageService
	- App\Model\Utils\Json\JsonService
	- App\Model\Utils\Number\NumberService
	- App\Model\Utils\Path\PathService
	- App\Model\Utils\Random\RandomService
	- App\Model\Utils\Reflection\ReflectionClassService
	- App\Model\Utils\Session\SessionService
	- App\Model\Utils\String\StringService
	- App\Model\Utils\Time\TimeService
	- App\Model\Utils\TypeChecker\TypeChecker
	- App\Model\Utils\TypeConverter\TypeConverter
	- App\Model\Utils\Url\UrlVersionGenerator
	- App\Model\Utils\Validator\EmailValidator
	- App\Model\Utils\Validator\ImageValidator
	- App\Model\Utils\Validator\UrlValidator
