{varType int $id}

{block pageTitle}Úprava úlohy{/block}

{block content}
	<div class="mb-3">
		<a href="{plink :Admin:Todo:default}" class="btn btn-success btn-sm">Späť na zoznam úloh</a>
	</div>

	<div class="tableone">
		<div class="tableone-header">
			<h3 class="tableone-title">Detail úlohy #{$id}</h3>
		</div>
		<div class="p-3">
			<p>Detail úlohy bude doplnený neskôr.</p>
		</div>
	</div>
{/block}
