{varType ?int $page}
{varType ?int $status}
{varType bool $canManage}

{block pageTitle}Uzavreté úlohy{/block}

{block content}
	<div class="mb-3">
		{if $canManage}
			{form createTodoForm}
				{input create}
			{/form}
		{/if}
		<a href="{plink :Admin:Todo:default}" class="btn btn-success btn-sm">Späť na aktívne úlohy</a>
	</div>

	{control todoClosedList}
{/block}
