{varType ?int $page}
{varType ?int $status}
{varType bool $canManage}

{block pageTitle}Zoznam úloh{/block}

{block content}
	<div class="mb-3">
		{if $canManage}
			{form createTodoForm}
				{input create}
			{/form}
		{/if}
		<a href="{plink :Admin:Todo:closed}" class="btn btn-success btn-sm">Uzavreté úlohy</a>
	</div>

	{control todoActiveList}
{/block}
