{varType int $id}
{varType array $todo}
{varType bool $canOpenFamily}
{varType bool $canOpenBabysitter}

{block pageTitle}Detail úlohy{/block}

{block content}
	{form todoUpdateForm}
		<div class="row">
			<div class="col-3">
				<div class="divone">
					<div>
						<div class="mb10">
							<div class="inputLabel">Rodina</div>
							{input familyId}
						</div>
						<div class="mb10">
							<div class="inputLabel">Opatrovateľka</div>
							{input babysitterId}
						</div>
						<div class="mb10">
							<div class="inputLabel">Úlohu zadal</div>
							{input todoFromUser}
						</div>
						<div class="mb10">
							<div class="inputLabel">Úlohu spracováva</div>
							{input todoToUser1}
						</div>
						<div class="mb10">
							<div class="inputLabel">Úlohu spracováva</div>
							{input todoToUser2}
						</div>
						<div class="mb10">
							<div class="inputLabel">Dátum vytvorenia</div>
							{input todoCreated}
						</div>
						<div class="mb10">
							<div class="inputLabel">Deadline spracovania</div>
							{input todoDeadline}
						</div>
						<div class="mb10">
							<div class="inputLabel">Status</div>
							{input status}
						</div>
					</div>
				</div>
			</div>

			<div class="col-4">
				<div class="divone">
					<div>
						<div n:if="$todo['familyId'] > 0" class="mb10">
							<div class="fw-bold" style="font-size:16px">Rodina</div>
							<div class="fw-bold" style="font-size:16px">
								{if $canOpenFamily}
									<a href="{plink :Admin:Family:update, id: $todo['familyId']}">{$todo['familyName']}</a>
								{else}
									{$todo['familyName']}
								{/if}
							</div>
						</div>
						<div n:if="$todo['babysitterId'] > 0" class="mb10">
							<div class="fw-bold" style="font-size:16px">Opatrovateľka</div>
							<div class="fw-bold" style="font-size:16px">
								{if $canOpenBabysitter}
									<a href="{plink :Admin:Babysitter:update, id: $todo['babysitterId']}">{$todo['babysitterName']}</a>
								{else}
									{$todo['babysitterName']}
								{/if}
							</div>
						</div>
					</div>
				</div>

				<div class="divone">
					<div>
						<div class="mb10">
							<div class="inputLabel">Názov úlohy</div>
							{input title}
						</div>
						<div class="mb10">
							<div class="inputLabel">Popis</div>
							{input description}
						</div>
					</div>
				</div>
			</div>

			<div class="col-5">
				<div class="divone">
					<div>
						<div class="mb10">
							<div class="inputLabel">Odpoveď</div>
							{input answer}
						</div>
						{input save}
					</div>
				</div>
			</div>
		</div>
	{/form}

	<script src="{$basePath}/js/autosaveForm.js"></script>
{/block}
