<div class="fright">
	<div data-bs-toggle="tooltip" data-bs-title="Údaje o projektoch" class="float-end">
		<i class="fa-solid fa-shop" style="font-size:26px; color:#8A2062; cursor:pointer; margin-right:10px; border:2px solid #8A2062; border-radius:26px; padding:6px;" data-bs-toggle="offcanvas" data-bs-target="#projectStatsOffcanvas" aria-controls="projectStatsOffcanvas"></i>
	</div>
	<div data-bs-toggle="tooltip" data-bs-title="Údaje o rodinách" class="float-end">
		<i class="fa-solid fa-people-roof" style="font-size:26px; color:#8A2062; cursor:pointer; margin-right:10px; border:2px solid #8A2062; border-radius:26px; padding:6px;" data-bs-toggle="offcanvas" data-bs-target="#familyStatsOffcanvas" aria-controls="familyStatsOffcanvas"></i>
	</div>
	<div data-bs-toggle="tooltip" data-bs-title="Údaje o partneroch" class="float-end me-2">
		<i class="fa-solid fa-handshake" style="font-size:26px; color:#8A2062; cursor:pointer; margin-right:10px; border:2px solid #8A2062; border-radius:26px; padding:6px 10px;" data-bs-toggle="offcanvas" data-bs-target="#partnerStatsOffcanvas" aria-controls="partnerStatsOffcanvas"></i>
	</div>
	<div data-bs-toggle="tooltip" data-bs-title="Turnusy" class="float-end me-2">
		<a href="{plink :Admin:Turnus:selectMonth}">
			<i class="fa-solid fa-file-invoice-dollar" style="font-size:26px; color:#8A2062; cursor:pointer; margin-right:10px; border:2px solid #8A2062; border-radius:26px; padding:6px 10px;"></i>
		</a>
	</div>
	<div data-bs-toggle="tooltip" data-bs-title="Evidencia návrhov" class="float-end me-2">
		<a href="{plink :Admin:Proposal:default}">
			<i class="fa-solid fa-people-line" style="font-size:26px; color:#8A2062; cursor:pointer; margin-right:10px; border:2px solid #8A2062; border-radius:26px; padding:6px 10px;"></i>
		</a>
	</div>
	<div data-bs-toggle="tooltip" data-bs-title="Evidencia neprítomnosti" class="float-end me-2">
		<a href="{plink :Admin:MissingRegistry:default}">
			<i class="fa-solid fa-calendar-days" style="font-size:26px; color:#8A2062; cursor:pointer; margin-right:10px; border:2px solid #8A2062; border-radius:26px; padding:6px 10px;"></i>
		</a>
	</div>
</div>
